@mixin tagColors {
  .onDev {
    color: #ffae00;
    border-color: #ffae00;
  }
  .soon {
    color: #53a5de;
    border-color: #53a5de;
  }
  .released {
    color: #3da218;
    border-color: #3da218;
  }
  .frontend {
    background-color: #a5d779;
  }
  .backend {
  }
  .film {
  }
  .design {
    background-color: #e38fdf;
  }
  .pm {
    background-color: #95b2ee;
  }
}

.WorkDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  box-shadow: 2px 6px 10px 1px rgba(black, 0.2);
  transition: 0.5s ease;
  border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 16px;

  .title {
    font-size: 1.25em;
    font-weight: 700;
    color: #151515;
    transition: 1s ease;
    cursor: pointer;
  }
  .status {
    @include tagColors;
    display: flex;
    margin: 5px 0;
    .process,
    .type {
      display: inline-block;
      font-size: 1em;
      padding: 0.125em 0.5em;
      margin-right: 4px;
      border-radius: 5px;
    }
    .process {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 0.875em;
      border: 2px solid;
    }
    .type {
      color: white;
    }
  }
  .content {
    transition: 1s ease;
    opacity: 1;
    font-size: 1em;
  }
}

.close {
  //transform: scaleY(0.97);
  box-shadow: 1px 3px 5px 0 rgba(black, 0.3);
  .title {
    color: #969696;
    &:hover {
      color: black;
    }
  }
  .content {
    opacity: 0;
  }
}

.off {
  &.close {
    opacity: 0;
  }
}
