@mixin background-clip($background) {
  background: $background;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
@mixin antique {
  font-family: "Lobster", cursive;
}
@mixin stroke($color: black, $background: white) {
  color: $background;
  text-shadow: -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color,
    1px 1px 0 $color;
}
