@use "./src/styles/font";

.Introduction {
  width: 100%;
  padding: 10px;

  .Title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2em;
    margin-top: 2vh;
    .box {
      margin: 10px 0;
      width: 100%;
      height: 0.2em;
      background: linear-gradient(
        to right,
        #9f4aff 20%,
        #66d7ff 50%,
        #ffc0ff 80%
      );
    }
  }
  .Roles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .intro {
      @include font.antique;
      align-self: center;
    }
    .role {
      position: relative;
      font-weight: 800;
      font-size: 32px;
      line-height: 1.8em;
      background: linear-gradient(
        to right,
        #9f4aff 20%,
        #66d7ff 50%,
        #ffc0ff 80%
      );
      text-decoration: underline;
      background-size: 300%;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      margin-bottom: 4px;
      &::after {
        position: absolute;
        display: flex;
        bottom: 4px;
        left: 0;
        width: 10em;
        height: 4px;
        background: linear-gradient(
          to right,
          #9f4aff 20%,
          #66d7ff 50%,
          #ffc0ff 80%
        );
        background-size: 300%;
        content: "";
      }

      &.developer {
      }
      &.filmmaker {
        background-position: 33% 0;
        &::after {
          width: 5.5em;
          background-position: 33% 0;
        }
      }
      &.designer {
        background-position: 66% 0;
        &::after {
          width: 4.5em;
          background-position: 66% 0;
        }
      }
      &.writer {
        background-position: 100% 0;
        &::after {
          width: 5.3em;
          background-position: 100% 0;
        }
      }
    }
  }
  .ribbon {
    @include font.antique;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px dashed #ffe695;
    border-bottom: 2px dashed #ffe695;
    color: #ffe695;
  }
}

.gradient {
  //  background: linear-gradient(to right, #40e0d0 20%, #ff8c00 50%, #ff0080 80%);
  background: linear-gradient(to right, #9f4aff 20%, #66d7ff 50%, #ffc0ff 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 100% auto;
  //animation: textShine 5s ease-in-out infinite alternate;
}
