@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  font-family: "Noto Sans KR", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -0.5px;
  font-size: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
}
